<html>
  <head>
    <meta name="google-site-verification" content="VdArHC1oet2Ccwa3F6g2xqU60TXeO4xrhumKC8Aeviw" />
    <title>CS493 OAuth 2.0 Implementation</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/style.css" rel="stylesheet">
   <!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
  </head>



  <body>
<!----->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">CS493 HW6 OAuth 2.0 Implementation</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Please log in with your Google account</h2>
        </div>
        <div id="main">
          <form method="get" action="{{ url_for('redirect_auth') }}">

            <input class="btn btn-primary js-scroll-trigger" type="submit" value="Log In via Google">
          </form>
        </div>
      </div>
    </header>


<!----->
  </body>
</html>
