<html>
 <head>
   <title>OAuth2 Retrieval</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted</h1>
     </div>
     <div id="main">
       <p>Thanks for logging in via Google, {{firstName}}!</p>
       <p>Here's a review of the information retrieved:</p>
       <p>
          <strong>First Name</strong>: {{firstName}} <br>
          <strong>Last Name</strong>: {{lastName}} <br>

       </p>
     </div>
   </div>
 </body>
</html>
